@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('./font/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('./font/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('./font/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('./font/Montserrat-Bold.woff') format('woff');
}
